<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style>

</style>
</head>
<body>
    <div class="container">
       
<br/>
<h1>{{course.name}}</h1>
<div>
        <h3><a href="{% url 'createassign' course.name %}">Create assignments</a></h3>

        
</div>
</br>
<div>
        {% for assign in assign %}
                <a href="{% url 'teachassign' assign.name %}">{{assign.name}}</a>
                --
                <a href="{% url 'assigndelete' assign.name %}">Delete assignment</a>
                <br/>
        {% endfor %} 
</div>
</div>
</body>
</html>