<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<style>
        
        h1{     
                background-color: black;
                color: aliceblue;
                text-align: center;
                font-style:var(#37423b);
                font-size:xx-large;
        }
        a{
                text-align: center; 
                font-size:x-large;
                height: 40px;
                width: 150px;
        }
</style>
<br/>
<h1>{{submiss.student.username}} Submission</h1>
<div class="container">
        <a href="{{submiss.subfile.url}}" download>Download submission</a>
<div>
        <div><br/>Grade: {{submiss.grade}}</div>
        <div><br/>Feedback:{{submiss.feedback}}</div>
        <br/>
        <a href="{% url 'editsub' submiss.id %}">Grade</a>
</div>
</div>
