<html>
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <style>
                .xyz{
                        background-color: lightgrey;
                        width: 1000px;  
                        padding: 50px;
                        margin: 20px; 
                }
        </style>
</head>
<body>
<h2>&nbsp;REGISTRATION PAGE</h2>

<div>
        <div>
                &nbsp;&nbsp;&nbsp;<a href="#">Already have an account?</a>
                <a href="{% url 'loginPage' %}">Sign In</a>
        </div>
</div>
<div class="xyz">
<div class="container">
        <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register" />
        </form>
</div>
</div>
</body>
</html>
